# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Local system / IDE configuration files
*~
.DS_Store
.project
*.swp

# Sphinx builds
docs/build/
.idea/

#configs for Visual Studio Code
.vscode/
vehicle/OVMS.V3/components/ovms_webserver/assets/charts.js.gz
*.gz
vehicle/OVMS.V3/sdkconfig.defaults

# Funny, but the component manager seems to always run during builds,
# thus overwriting this file. No reason to manage it ourselves...
vehicle/OVMS.V3/dependencies.lock
