[submodule "vehicle/OVMS.V3/components/mongoose/mongoose"]
	path = vehicle/OVMS.V3/components/mongoose/mongoose
	url = https://github.com/openvehicles/mongoose.git
[submodule "vehicle/OVMS.V3/components/zip/zlib"]
	path = vehicle/OVMS.V3/components/zip/zlib
	url = https://github.com/openvehicles/zlib.git
[submodule "vehicle/OVMS.V3/components/zip/libzip"]
	path = vehicle/OVMS.V3/components/zip/libzip
	url = https://github.com/openvehicles/libzip.git
