menuconfig SPIFFS
    bool "SPIFFS"
    default n
    help
        Select this option to enable SPIFFS file system and show the submenu with SPIFFS features.

config SPIFFS_LOG_BLOCK_SIZE
    int "SPIFFS log block size"
    default 8192
    depends on SPIFFS
    help
        Size of SPIFFS log blocks.

config SPIFFS_LOG_PAGE_SIZE
    int "SPIFFS log page size"
    default 256
    depends on SPIFFS
    help
        Size of SPIFFS log pages.
