<div class="alert alert-info">
  <p class="lead">Welcome to the OVMS Web UI Development.</p>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Home</div>
  <div class="panel-body">

    <fieldset><legend>Main Menu</legend>
    <ul class="list-inline">
      <li><a class="btn btn-default" href="/dashboard.htm" target="#main">Dashboard</a></li>
    </ul>
    </fieldset>

    <fieldset><legend>Basics &amp; API</legend>
    <ul class="list-inline">
      <li><a class="btn btn-default" href="/metrics.htm" target="#main">Metrics Displays</a></li>
      <li><a class="btn btn-default" href="/commands.htm" target="#main">Command Buttons &amp; Monitors</a></li>
      <li><a class="btn btn-default" href="/notifications.htm" target="#main">Notifications</a></li>
      <li><a class="btn btn-default" href="/hooks.htm" target="#main">Hook Plugins</a></li>
      <li><a class="btn btn-default" href="/loadcmd.htm" target="#main">Command Streaming</a></li>
    </ul>
    </fieldset>

    <fieldset><legend>UI Widgets</legend>
    <ul class="list-inline">
      <li><a class="btn btn-default" href="/solidgauge.htm" target="#main">Solid Gauges</a></li>
      <li><a class="btn btn-default" href="/btn-longtouch.htm" target="#main">Longtouch Buttons</a></li>
      <li><a class="btn btn-default" href="/dialogtest.htm" target="#main">Basic Dialogs</a></li>
      <li><a class="btn btn-default" href="/filedialog.htm" target="#main">File Dialogs</a></li>
      <li><a class="btn btn-default" href="/filebrowser.htm" target="#main">File Browser Widget</a></li>
      <li><a class="btn btn-default" href="/input-slider.htm" target="#main">Slider Widget</a></li>
    </ul>
    </fieldset>

    <fieldset><legend>Plugin Examples</legend>
    <ul class="list-inline">
      <li><a class="btn btn-default" href="/regenmon.htm" target="#main" accesskey="M">Regen Brake Monitor</a></li>
      <li><a class="btn btn-default" href="/plugin-twizy/drivemode-config.htm" target="#main" accesskey="M">Twizy: Drivemode Buttons</a></li>
      <li><a class="btn btn-default" href="/plugin-twizy/profile-editor.htm" target="#main">Twizy: Profile Editor</a></li>
    </ul>
    </fieldset>

  </div>
</div>
