# Minimal working sdkconfig for OVMS CI build (ESP-IDF v3.3)

CONFIG_OVMS_SC_ACL=y
CONFIG_OVMS_SC_GSM=y
CONFIG_OVMS_SC_WIFI=y
CONFIG_OVMS_SC_BT=y
CONFIG_OVMS_COMP_TELNET=y
CONFIG_OVMS_COMP_HTTP=y
CONFIG_OVMS_COMP_SDCARD=y
CONFIG_OVMS_COMP_USB=y
CONFIG_OVMS_COMP_LOG=y
CONFIG_OVMS_COMP_CAN=y
CONFIG_OVMS_COMP_OBD2ECU=y
CONFIG_OVMS_COMP_CRYPT=y
CONFIG_OVMS_COMP_OVMS=y
CONFIG_OVMS_COMP_OVMS_INIT=y
CONFIG_OVMS_COMP_OVMS_WEB=y
CONFIG_OVMS_COMP_OVMS_NETMAN=y
CONFIG_OVMS_COMP_OVMS_SCRIPT=y
CONFIG_OVMS_COMP_OVMS_VEHICLE=y
